
<link rel="stylesheet" href="/css/viewUpload.css">
<div class="flexVerti">
  <div id="searchBar"><input type="text" name="searchInp" id="inpBar"  placeholder="Please Enter here :)" required></div>
  
  <div>
    <table id="record" border="1">
      <thead>
        <tr>
          <%let count=1%>
          <%for(fields in basicRecord){%>
              <th>
                <div class="flexHori colHead">
                  <div> <%=fields%></div>
                  <div class="sortButtonDiv">
                    <button onclick="sort('desc','<%=count%>')"><i class="fas fa-arrow-up "></i></button>
                    
                    <button onclick="sort('asc','<%=count%>')"> <i class="fas fa-arrow-down "></i></button>
                     
                 </div>
                </div>
              </th>
            <% count++ %>
          <%}%>
          
        </tr>
      </thead>
      <tbody id="mainData">
        <%for(rec of allRecords){%>
          <tr>
          <%for(fields in rec){%>
              <td data-val="<%=rec[fields].split(' ')[0]%>"><%=rec[fields]%></td>
          <%}%>
          
          </tr>
        <%}%>
      </tbody>
     
  </table>
  <div class="noResult">
    <h2>Sorry No results Try again!!!!</h2>
  </div>
  </div>
  </div>
</div>
<script src="/js/searchFile.js"></script>

